html {
  box-sizing: border-box;
  background-color: f2f1ed;
  font-family: Georgia;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

nav > ul {
  margin: 0;
  padding: 0rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
}


nav li {
  margin: 0 .5em;
}

ul > li {
  /*width: auto;
  padding: 0rem;
  margin: 0 .5em;*/
  position: relative;
  left: 120px;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

/*main {
  display: grid;
  grid-template-columns: 20rem 1fr;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
}
