html {
  box-sizing: border-box;
  background-color: f2f1ed;
  font-family: Georgia;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin:0
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      "banner banner"
      "col1  col2"
}

header {
  display: contents;
}

.pano {
  grid-area: banner;
}

nav > ul {
  display: flex;
  list-style: none;
  justify-content: end;
  margin: 1rem;
  grid-gap: 1rem;
}

nav {
  grid-column: 2/ -1;
  grid-row: 1;
}




/*main {
  display: grid;
  grid-template-columns: 20rem 1fr;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
}
