html {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "banner banner"
    "col1 col2";
  gap: 1rem;
}

img {
  width: 100%;
}

header {
  display: contents;
  /*color: #fff;
  padding: 1rem;*/
}

.logo {
  width: 14rem;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  z-index: 1;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.pano {
  /*padding: 1rem;
  margin-top: 0;*/
  grid-area: banner;
  /*grid-column: 1/ -1;
  grid-row: 1/ 3;*/
}

nav {
  grid-column: 2/ -1;
  grid-row: 1;
  /*gap: 1rem;
  padding-top: 1rem;
  margin-right: 2rem;*/
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: end;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 1rem;
}

nav a {
  color: #fff;
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
}

main {
  display: contents;
}

figure {
  margin: 0;
}

figure:nth-of-type(1) {
  grid-area: col1;
}

figure:nth-of-type(2) {
  grid-area: col2;
}

figure img {
  margin-bottom: 1rem;
}

h2 {
  color: #30658d;
  margin: 0;
  font-family: "Patua One", sans-serif;
}

p {
  margin: 0;
}
